body {
    margin: 0;
    align-items: center;
}

html, body {
	max-height: 100%;
    align-items: center;
    text-align: center;
    color: white;
    background-color: black;
}

#content {
    background-image: url(https://res.cloudinary.com/dvmw658s9/image/upload/v1691027297/x0r2h32amkyqvjkxfwko.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    max-height: 100vh;
    transition: 0.3s;
}

#navbar {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;
    padding-right: 5%;
    background-color: rgba(0, 0, 0, 0.705);
}

.navItem {
    margin-inline: 1%;
    font-size: 23px;
    padding-bottom: 5px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.047);
    transition: 0.5s;
}

.navItem:hover {
    border-bottom: solid 2px white;
    transition: 0.5s;
    cursor: pointer;
}

#title {
    font-size: 45px;
    margin-top: 5%;
}

#aboutSection {
    margin-top: 40%;
    padding-top: 1%;
    padding-bottom: 6%;
}

.subTitle {
    font-size: 40px;
}

.paragraphBlock {
    font-size: 30px;
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

#menuSection {
    margin-top: 40%;
    padding-top: 1%;
    padding-bottom: 6%;
}

#contactSection {
    margin-top: 40%;
    padding-top: 1%;
    padding-bottom: 6%;
}

#contactFormBlock {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: left;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

.input {
    font-size: 20px;
    padding: 3%;
    border-radius: 15px;
}

.label {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textarea {
    font-size: 20px;
    padding: 3%;
    border-radius: 15px;
    min-height: 150px;
}

#formButton {
    font-size: 20px;
    padding: 3%;
    border-radius: 25px;
    width: 20%;
    margin-top: 30px;
    margin-left: 80%;
    transition: 0.5s;
    border: solid 2px white;
}


#formButton:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: black;
    color: white;
}

.menuBlockRow {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 0 auto;
    margin-top: 8%;
    justify-content: space-between;
}

.menuBlock {
    max-width: 400px;
}

.menuBlockTitle {
    font-size: 30px;
    border-bottom: solid 2px white;
    padding-bottom: 15px;
    width: 65%;
    margin: 0 auto;
}

.menuBlockInfo {
    font-size: 18px;
}