body {
    margin: 0;
    align-items: center;
}

html, body {
	max-height: 100%;
    align-items: center;
    text-align: center;
    color: white;
    background-color: black;
}

#content {
    background-image: url(https://res.cloudinary.com/dvmw658s9/image/upload/v1691027297/x0r2h32amkyqvjkxfwko.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    min-height: 100vh;
}

#navbar {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;
    padding-right: 5%;
    background-color: rgba(0, 0, 0, 0.705);
}

.navItem {
    margin-inline: 1%;
    font-size: 23px;
    padding-bottom: 5px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.047);
    transition: 0.5s;
}

.navItem:hover {
    border-bottom: solid 2px white;
    transition: 0.5s;
    cursor: pointer;
}

#title {
    font-size: 45px;
    margin-top: 5%;
}

#aboutSection {
    margin-top: 40%;
    padding-top: 1%;
    padding-bottom: 6%;
}

.subTitle {
    font-size: 40px;
}

.paragraphBlock {
    font-size: 30px;
    width: 35%;
    margin: 0 auto;
    text-align: center;
}